In [2]:
import pandas as pd
import numpy as np

## 1.1 Практическое занятие 1 (Поехали!)

Создайте pandas.Series из листа lst.

In [3]:
lst = list('zyxwvutsr')
print(pd.Series(lst))

0    z
1    y
2    x
3    w
4    v
5    u
6    t
7    s
8    r
dtype: object

На основе листа lst и массива arr сформируйте словарь и cоздайте pandas.Series из получившегося словаря.

In [4]:
lst = list('abced')
arr = np.arange(5)
result = {}
for key, value in zip(lst, arr):
    result[key]=value
print(pd.Series(result))

a    0
b    1
c    2
e    3
d    4
dtype: int32

На вход функции solution подается серия ser. Преобразуйте ее в pandas.DataFrame таким образом, чтобы индекс стал отдельной колонкой датафрейма:

In [5]:
s = get_series()
print(pd.DataFrame(data = s).reset_index())

NameError: name 'get_series' is not defined

Объедините два pandas.Series (s1, s2) таким образом чтобы получился pandas.DataFrame не используя конструктор!

Функция solution должна вернуть датафрейм:

In [6]:
s1 = pd.Series(list('abced'))
s2 = pd.Series(np.arange(5))
print(pd.concat([s1,s2], axis = 1))

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

Объедините два pandas.Series (переменные s1, s2) таким образом чтобы получился pandas.DataFrame:

In [7]:
s1 = pd.Series(list('abced'))
s2 = pd.Series(np.arange(5))
d = {'col1': s1, 'col2': s2}
print(pd.DataFrame(data = d))

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

Присвойте индексу pandas.Series имя 'characters':

In [9]:
s = pd.Series(list('abced'), name =  'characters')
print(s)

0    a
1    b
2    c
3    e
4    d
Name: characters, dtype: object

Получите элементы s1, которые не присутствуют в s2. Функция должна вернуть серию.

In [10]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

check = s1.isin(s2)

print(s1[~s1.isin(s2)])

0    1
1    2
2    3
dtype: int64

Создайте новый pandas.Series из элементов, которые присутствуют только в одном из двух pandas.Series (переменные s1, s2). Если элемент присутствует в двух Series, то включать его не надо.

In [11]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])
s_union = pd.Series(np.union1d(s1,s2))
s_inters = pd.Series(np.intersect1d(s1,s2))
print(s_union[~s_union.isin(s_inters)])

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

На вход функции solution подаются данные в pandas.Series (переменная ser) рассчитайте:

- наименьшее значение
- 25 перцентиль
- медиану
- 75 перцентиль
- наибольшее значение

In [12]:
lst = [12.53904795,  5.68886327, 16.24734871,  9.60194377,  5.55134259,
        5.59100805, 10.09319475, 11.18922311, 10.06774274,  1.822353]

s1 = pd.Series(lst)
print(np.percentile(s1, [0,25, 50, 75,100]))

[ 1.822353    5.61547186  9.83484325 10.91521602 16.24734871]

Определите сколько раз встречается каждое значение в исходном pandas.Series (переменная s). Функция должна вернуть серию с подсчитанным количеством каждого символа.

In [13]:
s = pd.Series(list('abdcbdhafceeabcahbcaedadaecbbbecafgh'))
print(pd.value_counts(s))

a    8
b    7
c    6
e    5
d    4
h    3
f    2
g    1
dtype: int64

## 1.2 Практическое занятие 2

Доработайте код таким образом, чтобы оставить только 2 наиболее встречающихся значения, а для остальных установите значение 'Yet another value'.

In [14]:
s = pd.Series(list('abdcbdhafceeabcahbcaedadaecbbbecafgh'))
top_2 = pd.value_counts(s).head(2)
top_2 = top_2.index.to_series()
flag = s.isin(top_2)
print(s.where(flag, other='Yet another value'))

0                     a
1                     b
2     Yet another value
3     Yet another value
4                     b
5     Yet another value
6     Yet another value
7                     a
8     Yet another value
9     Yet another value
10    Yet another value
11    Yet another value
12                    a
13                    b
14    Yet another value
15                    a
16    Yet another value
17                    b
18    Yet another value
19                    a
20    Yet another value
21    Yet another value
22                    a
23    Yet another value
24                    a
25    Yet another value
26    Yet another value
27                    b
28                    b
29                    b
30    Yet another value
31    Yet another value
32                    a
33    Yet another value
34    Yet another value
35    Yet another value
dtype: object

Разбейте все значения из pandas.Series (переменная s1) на 3 интервала равного размера. Функция должна вернуть серию:

In [15]:
s1 = pd.Series(reversed(range(0, 10)))
print(pd.qcut(s1,3))

0       (6.0, 9.0]
1       (6.0, 9.0]
2       (6.0, 9.0]
3       (3.0, 6.0]
4       (3.0, 6.0]
5       (3.0, 6.0]
6    (-0.001, 3.0]
7    (-0.001, 3.0]
8    (-0.001, 3.0]
9    (-0.001, 3.0]
dtype: category
Categories (3, interval[float64, right]): [(-0.001, 3.0] < (3.0, 6.0] < (6.0, 9.0]]

Преобразуйте pandas.Series (переменная s1) в pandas.DataFrame размером 2 х 5:

In [16]:
s1 = pd.Series(range(0, 10))
print(pd.DataFrame([[i for i in s1[:5]], [i for i in s1[5:]]] ))

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

Найдите индексы значений, которые кратны 2. Функция solution должна вернуть numpy массив:

In [17]:
s1 = pd.Series([5, 10, 2, 3, 9, 12, 1])
s1 = s1.to_numpy()
print(np.argwhere(s1%2==0))

[[1]
 [2]
 [5]]

Создайте новый pandas.Series из элементов, которые находятся по индексам: 0, 7, 12, 15, 19. Функция solution должна вернуть серию:

In [18]:
s1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
print(s1.take([0,7, 12, 15, 19]))

0     a
7     h
12    m
15    p
19    t
dtype: object

Преобразуйте элементы pandas.Series (переменная s1) из строк в даты. Функция solutionдолжна вернуть серию:

In [19]:
s1 = pd.Series(['01 Jan 2022', '02-02-2022', '20220303', '2022/04/04', '2022-05-05', '2022-06-06T12:20'])
print(pd.to_datetime(s1))

0   2022-01-01 00:00:00
1   2022-02-02 00:00:00
2   2022-03-03 00:00:00
3   2022-04-04 00:00:00
4   2022-05-05 00:00:00
5   2022-06-06 12:20:00
dtype: datetime64[ns]

Объект pandas.Series (переменная s1) содержит некоторые числовые значения. Для значений хранящихся в s2 определите индексы под которыми они хранятся  в s1. Функция должна вернуть список (python list):

In [20]:
s1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
s2 = pd.Series([1, 3, 10, 13])
indexes = []
for i in range(len(s2)):
    for j in range(len(s1)):
        if s2[i]==s1[j]:
            indexes.append(j)
print(indexes)

[5, 4, 0, 8]

Даны следующие ряды данных:

s_forecast - ряд прогнозных значений

s_real - ряд фактических значений

 

Вычислите среднеквадратичную ошибку.

In [21]:
s_forecast = pd.Series(range(10))
s_real  = pd.Series(reversed(range(10)))
print(np.std(s_real - s_forecast)**2)

33.0

Измените первый символ каждого слова на верхний регистр.

In [22]:
s1 = pd.Series(['the', 'weather', 'is', 'fine'])
print(s1.str.capitalize())

0        The
1    Weather
2         Is
3       Fine
dtype: object

Подсчитайте количество символов в каждом слове. Функция solution должна вернуть серию:

In [24]:
s1 = pd.Series(['the', 'weather', 'is', 'fine'])
print(pd.Series([len(s) for s in s1]))

0    3
1    7
2    2
3    4
dtype: int64

## 1.3 Практическое занятие 3 (Сталлоне)

Вытяните день месяца, номер недели, день года и день недели из серии (s1)

In [25]:
s1 = pd.Series(['05 Jan 2021', '02-04-2021', '20210403', '2021/06/04', '2021-03-05', '2021-03-06T12:20'])
s2 = pd.to_datetime(s1)

years = s2.dt.year.to_list()
print(f'Date:  {s2.dt.day.to_list()}')
print(f'Week number:  {s2.dt.week.to_list()}')
print(f'Day number of year:  {s2.dt.dayofyear.to_list()}')
print(f'Day of week:  {s2.dt.day_name().to_list()}')

Date:  [5, 4, 3, 4, 5, 6]
Week number:  [1, 5, 13, 22, 9, 9]
Day number of year:  [5, 35, 93, 155, 64, 65]
Day of week:  ['Tuesday', 'Thursday', 'Saturday', 'Friday', 'Friday', 'Saturday']

C:\Users\1645295\AppData\Local\Temp/ipykernel_9360/555845331.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print(f'Week number:  {s2.dt.week.to_list()}')

Измените даты лежащие в серии (s1) таким образом чтобы они начинались с 10-го числа соответствующего месяца.

In [26]:
s1 = pd.Series(['Jan 2022', 'Feb 2022', 'Mar 2022'])
s1 = pd.to_datetime(s1)
new = s1.apply(lambda s: s.replace(day=10))
print(new)

0   2022-01-10
1   2022-02-10
2   2022-03-10
dtype: datetime64[ns]

Из серии (s1) вытяните слова, содержащие не менее 2 гласных.

In [27]:
s1 = pd.Series(['Apple', 'Orange', 'Plan', 'Sky', 'Money'])

print(s1.where(pd.Series(map(lambda x: sum(1 for i in x if i.lower() in 'aeiou')>=2, s1))).dropna())

0     Apple
1    Orange
4     Money
dtype: object

Извлеките корректные почтовые адреса из серии (s1). Используйте pattern для этой задачи.

In [28]:
s1 = pd.Series(['teach pandas at stepik.com', 'help@stepik.com', 'user@t.co', 'lovepandas@google.com'])

pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
s2 = s1.str.findall(pattern).str.join('')
print(s2[s2!=''])

1          help@stepik.com
2                user@t.co
3    lovepandas@google.com
dtype: object

Вычислите среднее значение веса каждого фрукта.

In [30]:
fruit_list = ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']
weights_list =  [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

fruits = pd.Series(fruit_list)
weights = pd.Series(weights_list)
s2 = pd.Series(weights.values, fruits.values)
print(s2.groupby(level=0).mean())

apple     6.0
banana    4.0
carrot    5.8
dtype: float64

Вычислить евклидово расстояние между рядами (точками) X и Y

In [31]:
X = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
Y = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
print(np.linalg.norm(X-Y))

18.16590212458495

Определите индексы пиков (значения, окруженные меньшими значениями с обеих сторон).

In [32]:
a = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
print(np.array(a[(a.shift(1) < a) & (a.shift(-1) < a)].index))

[1 5 7]

В серии (s1) находятся даты с 1 по 8 января 2022 года. Однако некоторые даты и значения к датам пропущены. Сделайте так, чтобы все отсутствующие даты отображались и заполнялись значением из предыдущей даты.

In [33]:
s1 = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2022-01-01', '2022-01-03', '2022-01-06', '2022-01-08']))

idx = pd.date_range(s1.index.min(), s1.index.max())
s1.index = pd.DatetimeIndex(s1.index)

s1 = s1.reindex(idx)
print(s1.fillna(method="ffill"))

2022-01-01     1.0
2022-01-02     1.0
2022-01-03    10.0
2022-01-04    10.0
2022-01-05    10.0
2022-01-06     3.0
2022-01-07     3.0
2022-01-08     3.0
Freq: D, dtype: float64

Отредактируйте название колонок датафрейма (df) следующим образом:

1. user -> user_name

2. все точки в названии колонок заменить нижним подчёркиванием

In [34]:
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex'], 'user.balance' : [500, 200, 0], 'user.age' : [34, 25, 18], 'user.group' : ['A', 'B', 'A']})
df.rename(columns={"user": "user_name", "user.balance": "user_balance", 'user.age': 'user_age', 'user.group': 'user_group'})
print(df.rename(columns={"user": "user_name", "user.balance": "user_balance", 'user.age': 'user_age', 'user.group': 'user_group'}).columns)

Index(['user_name', 'user_balance', 'user_age', 'user_group'], dtype='object')

Проверьте, имеются ли пропущенные значения в датафрейме (df). Если в строке датафрейма есть хотя-бы одно пропущенное значение - верните True иначе False.

In [35]:
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex'], 'user.balance' : [500, None, 0], 'user.age' : [34, 25, 18], 'user.group' : ['A', 'B', 'A']})

print(pd.isnull(df).any().any())

True

## 1.4 Практическое занятие 4 (Джеки Чан)

Подсчитайте количество пропущенных значений в каждом столбце.

In [36]:
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den'], 'user.balance' : [500, None, 0, None], 'user.age' : [34, None, 18, 43], 'user.group' : ['A', 'B', 'A', 'B']})

print(pd.isnull(df).sum())

user            0
user.balance    2
user.age        1
user.group      0
dtype: int64

Замените отсутствующие значения в столбцах user.speed и user.bag_weight их соответствующими средними значениями.

In [37]:
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den'], 'user.speed' : [40, None, 42, 35], 'user.bag_weight' : [8, None, 2, 4]})

df.fillna(df.mean(), inplace = True)
print(df[['user.speed', 'user.bag_weight']])

   user.speed  user.bag_weight
0        40.0         8.000000
1        39.0         4.666667
2        42.0         2.000000
3        35.0         4.000000

C:\Users\1645295\AppData\Local\Temp/ipykernel_9360/3204027713.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace = True)

Поменяйте столбцы А и Е местами в датафрейме:

In [39]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))


columns = list(df.columns)
flag = columns[0]
columns[0]=columns[-1]
columns[-1]=flag
print(df[columns])

    e   b   c   d   a
0   4   1   2   3   0
1   9   6   7   8   5
2  14  11  12  13  10
3  19  16  17  18  15

Поменяйте порядок столбцов в датафрейме от Е до А.

In [40]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
columns_old = list(df.columns)
df_new = pd.DataFrame(df, columns=columns_old[::-1])
print(df_new)

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

Выведите на экран строки датафрейма с шагом 2.

In [41]:
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den', 'Viktor'], 'user.speed' : [40, None, 42, 35, 60], 'user.bag_weight' : [8, None, 2, 4, 19]})
indexes = [i for i in range(0,len(df),2)]
print(df.iloc[indexes])

     user  user.speed  user.bag_weight
0    Ivan        40.0              8.0
2    Alex        42.0              2.0
4  Viktor        60.0             19.0

Создайте составной индекс на основе колонок user и user.number для датафрейма:

In [42]:
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den', 'Viktor'], 'user.number' : ['222-333', None, '222-555', '222-666', '222-777'], 'user.speed' : [40, None, 42, 35, 60], 'user.bag_weight' : [8, None, 2, 4, 19]})

df['user.number'].fillna('missing', inplace = True)

df.index = (df['user'].str.cat(df['user.number'], sep ="_"))
df.index.name = None
print(df)

                  user user.number  user.speed  user.bag_weight
Ivan_222-333      Ivan     222-333        40.0              8.0
Petr_missing      Petr     missing         NaN              NaN
Alex_222-555      Alex     222-555        42.0              2.0
Den_222-666        Den     222-666        35.0              4.0
Viktor_222-777  Viktor     222-777        60.0             19.0

Для столбца А найдите индекс строки в которой находится второе наибольшее значение.

In [43]:
df = pd.DataFrame([[16,24,29],[1,10,16],[26,21,10],[3,3,8],[6,17,17],[2,25,14],[9,13,21],[27,24,17],[19,29,1],[20,24,6]], columns=list('abc'))

ranking = df['a'].rank(ascending=False)
index_sec_max = ranking.index[ranking==2.0].to_list()
print(index_sec_max[0])

2

Выведите последние две строки датафрейма, сумма ячеек которых больше 100.

In [44]:
df = pd.DataFrame([[23,33,16,35],
                   [24,20,13,10],
                   [32,33,30,28],
                   [13,32,36,18],
                   [25,27,31,10],
                   [35,13,36,21],
                   [32,32,25,17],
                   [34,24,23,19]])
#df[4] = df.sum(axis = 1)
df_transp = df.T

print(pd.DataFrame([df_transp[i] for i in df_transp if df_transp[i].sum()>100]).tail(2))

    0   1   2   3
5  35  13  36  21
6  32  32  25  17

## 1.6 Практическое занятие 6 (Стетхем)

Вычтите среднее значение строки из каждого элемента в строке.

In [46]:
df = pd.DataFrame([[0.020448, 0.456925, 0.992258], [0.743399, 0.555486, 0.089364], [0.094699, 0.283184, 0.216221]])

print(df.apply(lambda x: x-df.mean(axis=1)))

          0         1         2
0 -0.469429 -0.032952  0.502381
1  0.280649  0.092736 -0.373386
2 -0.103336  0.085149  0.018186

В каком столбце чисел сумма наименьшая? Выведите на экран название этого столбца.

In [47]:
df = pd.DataFrame([[0.020448, 0.456925, 0.992258], [0.743399, 0.555486, 0.089364], [0.094699, 0.283184, 0.216221]], columns=list('abc'))
print(df.sum().idxmin())

a

Как подсчитать, сколько уникальных строк имеет датафрейм (т. е. игнорировать все повторяющиеся строки)?

In [48]:
df = pd.DataFrame([[0.020448, 0.456925, 0.992258], [0.743399, 0.555486, 0.089364], [0.020448, 0.456925, 0.992258], [0.094699, 0.283184, 0.216221]], columns=list('abc'))

print(df.drop_duplicates(keep=False).shape[0])

2

Найдите сумму всех значений, которые указаны для среды (Wednesday)

In [51]:
dti = pd.date_range(start='2021-01-01', end='2021-12-31', freq='B') 
s = pd.Series(np.random.RandomState(30).rand(len(dti)), index=dti)

#s.apply
print(s[s.index.dayofweek==2].sum())

23.508792429234397

Для каждого месяца найдите среднее значение.

In [52]:
dti = pd.date_range(start='2021-01-01', end='2021-12-31', freq='B') 
s = pd.Series(np.random.RandomState(30).rand(len(dti)), index=dti)

print(s.groupby(pd.Grouper(freq='M')).mean())

2021-01-31    0.507726
2021-02-28    0.462692
2021-03-31    0.478605
2021-04-30    0.564210
2021-05-31    0.387735
2021-06-30    0.451999
2021-07-31    0.541958
2021-08-31    0.553241
2021-09-30    0.507650
2021-10-31    0.453517
2021-11-30    0.490528
2021-12-31    0.495812
Freq: M, dtype: float64